{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    {% block external_css_js %}

    {% endblock external_css_js %}

    <link rel="stylesheet" href="{% static "style.css" %}" />

    <title>Phase Equilibrium Calculator</title>
</head>
<body>
    
    <header>
        <nav>
            <div class="nav_logo">Phase Equilibrium Calculator</div>
            <ul class="nav_links">
                <li class="nav_item"><a class="nav_link" href="{% url "home" %}"> Home </a></li>
                <li class="nav_item"><a class="nav_link" href="{% url "vle" %}"> VLE </a></li>
                <li class="nav_item"><a class="nav_link" href="{% url "pxy" %}"> P-x-y </a></li>
                <li class="nav_item"><a class="nav_link" href="{% url "pt" %}"> P-T </a></li>
                <li class="nav_item"><a class="nav_link" href="{% url "api" %}"> API </a></li>
                <li class="nav_item"><a class="nav_link" href="{% url "docs" %}"> Docs </a></li>
            </ul>
        </nav>
    </header>

    <div class="body_container">
    {% block content %}

        <h1> Page under construction... </h1>

    {% endblock content %}
    </div>
    
    <footer>
        <div class="footer_content">
            <div class="footer_text">
                <p><strong>Phase Equilibrium Calculator</strong></p>
                <p>PEC is a web framework for phase equilibrium calculations of multi-component mixtures.</p>
                <p>Developed and Designed by <strong>Mohammad Homanloo</strong></p>
                <p>2023</p>
            </div>
            <div class="footer_links">
                <a href="https://www.linkedin.com/in/homanloo/" target="_blank">
                    <i class='bx bxl-linkedin-square home_icon' ></i>LinkedIn
                </a>
                <a href="https://github.com/Homanloo" target="_blank">
                    <i class='bx bxl-github home_icon' ></i>GitHub
                </a>
                <a href="https://Homanloo.github.io" target="_blank">
                    <i class='bx bx-world'></i>Website
                </a>
            </div>
        </div>
    </footer>
    
    <script>
        const activeLocation = window.location.pathname;
        console.log(activeLocation);
        const navLinks = document.querySelectorAll(".nav_link");

        navLinks.forEach(link => {
            if (link.href.includes(activeLocation)) {
                link.classList.add('active');
            }
        });
    </script>

</body>
</html>