{% extends "base.html" %}
{% load static %}

{% block external_css_js %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

{% endblock external_css_js %}

{% block content %}

<h2>Documentations</h2>

<div class="docs_links">
    <ul>
        <li><a href="#1">What is Phase Equilibrium?</a></li>
        <li><a href="#2">VLE and its Applications</a></li>
        <li><a href="#3">What Do We Want From VLE Calculations?</a></li>
        <li><a href="#4">Different Models for VLE Calculations</a></li>
        <li><a href="#5">Why Phi/Phi model?</a></li>
        <li><a href="#6">Phi/Phi Model calculation Flow Chart</a></li>
        <li><a href="#7">F, F', and V Calculation</a></li>
        <li><a href="#8">BUBL P & DEW P Calculation</a></li>
        <li><a href="#9">BUBL P Calculation Flow Chart</a></li>
        <li><a href="#10">DEW P Calculation Flow Chart</a></li>
        <li><a href="#11">Equations of State (EoS)</a></li>
        <li><a href="#12">Fugacity Coefficient</a></li>
        <li><a href="#13">Required Properties</a></li>
        <li><a href="#14">References</a></li>
    </ul>
</div>

<div class="docs_content">

    <div class="docs_content_group" id="1">
        <h3>What is Phase Equilibrium?</h3>
        <p>
            Equilibrium is a condition in which no changes occur in the macroscopic properties of an 
            isolated system with time. At equilibrium, all potentials that may cause change are exactly 
            balanced, so no driving force exists for any change in the system. An isolated system consisting 
            of liquid and vapor phases in intimate contact eventually reaches a final state wherein no 
            tendency exists for change to occur within the system. The temperature, pressure, and phase 
            compositions reach final values which thereafter remain fixed. The system is in equilibrium. 
            Nevertheless, at the microscopic level, conditions are not static. The molecules comprising a 
            phase at a given instant are not the same molecules that later occupy the same phase. 
            Molecules constantly pass from one phase to the other. However, the average rate of passage 
            of molecules is the same in both directions, and no net interphase transfer of material occurs.
        </p>

            <img src="{% static "images/Phase_Diagram.png" %}" alt="Phase Diagram" width="500">
    </div>

    <div class="docs_content_group" id="2">
        <h3>VLE and its Applications</h3>
        <p>
            Vapor Liquid Equilibrium (VLE) is a subset of phase equilibrium which solely focus on vapor and liquid phase. This subject has 
            a significant rule in chemical engineering as it is widely used for distillation and extraction processes. 
        </p>
        <p>Below, you can see PT diagram of Methanol-Benzyne at equilibrium for several compositions:</p>

        <img src="{% static "images/VLE_Diagram.png" %}" alt="VLE Diagram" width="300">
    </div>

    <div class="docs_content_group" id="3">
        <h3>What Do We Want From VLE Calculations?</h3>
        <p>
            Imagine you have a mixture with a certain composition. Then you have to figure out the distribution of components 
            in the liquid and vapor phase repectively. Or maybe you want to calculate bubble pressure and dew pressure to seprate the components. 
            Nevertheless, VLE calculations, which are consitent of BUBL P and DEW P calculations alongside FLASH calculations, are a vital tool for 
            such analysis.
        </p>
        <p>
            By completing VLE calculations succesfuly, one can obtain vapor/liquid ratio, vapor phase and liquid phase mole fractions, bubble pressure, 
            dew pressure, fugasity coefficients, Z factors, etc.
        </p>
    </div>

    <div class="docs_content_group" id="4">
        <h3>Different Models for VLE Calculations</h3>
        <p>
            There are several models and equations for VLE calculations introduced by different sources. The major differences between these 
            models are their precision and complexity. Here a number of famous and widely used models are briefly introduced:
        </p>
        <ol>
            <li>Raoult's Law</li>
            <p>
                In this model, it is assumed that both the vapor and liquid mixtures are ideal. These assumptions are acceptable in low pressures but 
                in higher pressures, this model shows great derivation from experimaental data. The formulation of this model is as follows:
            </p>
            <span>$$y_i P=x_i P_i^{sat}$$</span>

            <li>Henry's Law</li>
            <p>
                In a case where the tempreture of the system is higher than the critical temperature of a component, Raoult's Law can not be 
                applied because Antoine Equations can not be used for saturated pressure calculations anymore. Thus, a new parameter is introduced 
                as below:
            </p>
            <span>$$y_i P=x_i H_i$$</span>
            <p>where H values must be obtained experimentaly.</p>

            <li>Modified Raoult's Law</li>
            <p>
                As evident from the name, this model is an enhaned version of the original Raoult's Law. This is achieved by entering a new variable 
                called <i>activity coefficient</i> into the equation:
            </p>
            <span>$$y_i P=x_i \gamma_i P_i^{sat}$$</span>
            <p>This new parameter is either determined by experiment or using comlicated models that are built uppon experimental data.</p>

            <li>Gamma/Phi Formulation</li>
            <p>
                This model is an advanced and relatively accurate model for VLE calculations where takes into account both the non-ideality of 
                vapor and liquid phases by utilizing <i>fugasity coefficients</i> and <i>activity coefficients</i>:
            </p>
            <span>$$y_i \Phi_i P=x_i \gamma_i P_i^{sat}$$</span>
            <p>where:</p>
            <span>$$\Phi_i = \frac{\Phi_i^v}{\Phi_i^{sat}} exp \frac{-V_i^l(P-P_i^{sat})}{RT}$$</span>
            <p>
                Major problems with this model is the calculation of activity coefficient and the fact that it still uses saturated pressure which 
                is not defined for temperatures above critical tempreture of the component.
            </p>

            <li>Phi/Phi Model</li>
            <p>The best way to calculate VLE problems with minimum data required and best accuracy is Phi/Phi model which will be discussed in the next section.</p>
        </ol>
    </div>

    <div class="docs_content_group" id="5">
        <h3>Why Phi/Phi model?</h3>
        <p>Phi/Phi model is where accuracy and simplicity meet each other. It requires a small number of parameters and is done by utilizing Equation of 
            State models to calculate fugacity coefficients which can be further used to calculate the desired parameters like mole fractions of each phase.
        </p>
        <p>
            The main concept in phase equilibrium is that the fugacity of each component is the same for all phases:
        </p>
        <span>$$\hat{f}_i^v = \hat{f}_i^l$$</span>
        <p>By definition, an alternative form for the equation above is:</p>
        <span>$$y_i P \hat{\Phi}_i^v = x_i P \hat{\Phi}_i^l$$</span>
        <p>
            which can be reduced to:
        </p>
        <span>$$y_i \hat{\Phi}_i^v = x_i \hat{\Phi}_i^l$$</span>
        <p>
            As you can see, this model only requiers fugacity coefficient, which can be obtained from EoS and will be discussed later.
        </p>
    </div>

    <div class="docs_content_group" id="6">
        <h3>Phi/Phi Model calculation Flow Chart</h3>
        <img src="{% static "images/Flash_flowchart.png" %}" alt="Flash Calculation Flow Chart">
        <p>All the necessary formulas and parameters will be defined in the next sections.</p>
    </div>

    <div class="docs_content_group" id="7">
        <h3>F, F', and V Calculation</h3>
        <p>
            As shown in the flow chart above, F, F', and V values are required to be calculated. But first of all, an initial guess for 
            V value in required which is done as below:
        </p>
        <span>$$V = \frac{P_{bubl} - P}{P_{bubl} - P_{dew}}$$</span>
        <p>
            Moreover, F and F' can be evaluated as below:
        </p>
        <span>$$F = \sum_i \frac{z_i (K_i - 1)}{1+V(K_i-1)}$$</span>
        <span>$${F'} = \frac{\text{d}F}{\text{d}V} =- \sum_i \frac{z_i (K_i - 1)^2}{[1+V(K_i-1)]^2}$$</span>
        <p>
            When F, F', K, and V is determined, mole fractions of both phases can be evaluated:
        </p>
        <span>$$x_i = \frac{z_i}{1+V(K_i-1)}$$</span>
        <span>$$y_i = x_i K_i$$</span>
    </div>

    <div class="docs_content_group" id="8">
        <h3>BUBL P & DEW P Calculation</h3>
        <p>
            Bubble Pressure and Dew Pessure calcualtions are very common in chemical engineering calculations and are widely used in several 
            related fields like distillation, seperation, thermodynamic behavior simulation, etc.
        </p>
        <p>
            In the Phi/Phi formulation, fugacity coefficients are used to evaluate K values and then iterate for pressure value while chekcing 
            the mole fractions and pressures to see if bubble/dew point has been reach or not. 
        </p>
        <span>$$K_i = \frac{y_i}{x_i} = \frac{\hat{\Phi}_i^l}{\hat{\Phi}_i^v}$$</span>
        <p>In the next two sections, flow charts for BUBL P and DEW P calculations are provided.</p>
        <P>
            Initial values for P and K is required for the first iteration. This can be achieved by the following correlations:
        </P>
        <span>$$ln P_r^{initial} = f^{(0)} + \omega f^{(1)}$$</span>
        <p>where </p>
        <span>$$P_r = \frac{P}{P_c}$$</span>
        <span>$$f^{(0)} = 5.92714 - \frac{6.09648}{T_r} - 1.28862 \ln{T_r} + 0.169347 \ln{T_r^6}$$</span>
        <span>$$f^{(1)} = 15.2518 - \frac{15.6875}{T_r} - 13.4721 \ln{T_r} + 0.43577 \ln{T_r^6}$$</span>
        <p>and K can be estimated as below:</p>
        <span>$$K_i^{initial} = \frac{1}{P_{r,i}} \exp{5.37 (1+\omega_i)(1 - \frac{1}{T_{r,i}})}$$</span>
    </div>

    <div class="docs_content_group" id="9">
        <h3>BUBL P Calculation Flow Chart</h3>
        <img src="{% static "images/bublP_flowchart.png" %}" alt="BUBL P Calculation Flow Chart">
    </div>

    <div class="docs_content_group" id="10">
        <h3>DEW P Calculation Flow Chart</h3>
        <img src="{% static "images/dewP_flowchart.png" %}" alt="DEW P Calculation Flow Chart">
    </div>

    <div class="docs_content_group" id="11">
        <h3>Equations of State (EoS)</h3>
        <p>
            Compressibility Factor (Z) is a parameter which accounts for the non-ideality of a mixture or system:
        </p>
        <span>$$Z = \frac{PV}{RT}$$</span>
        <p>
            Z factor is in our interests because its value is required for calculation of fugacity factor, which is the main parameter 
            in VLE calculations. There are several models and formulation of EoS that each have their own pros and cons. Here are a few 
            famous ones:
        </p>
        <ul>
            <li>van der Waals (vdW)</li>
            <li>Redlich - Kwong (RK)</li>
            <li>Soave - Redlich - Kwong (SRK)</li>
            <li>Peng - Robinson (PR)</li>
        </ul>
        <p>
            Among the models above, the Peng-Robinson model leads to better results in an overall point of view. Thus, this model is be 
            used in further modellings and calculations.
        </p>
        <p>
            After choosing the desired EoS model, parameters and constants must be evaluated. Next, roots of the cubic equation must be found 
            in order to determine the vapor phase and liquid phase Z factor. A thorough and complete documentation about 
            <a href="https://www.e-education.psu.edu/png520/m11_p2.html">Peng-Robinson EoS parameters</a> and a easy-to-follow guide on 
            <a href="https://www.e-education.psu.edu/png520/m11_p6.html">Solution Techniques for Cubic Expressions & Root Finding</a> is provided 
            that are highly recommended and are used in this project extensively.
        </p>
    </div>

    <div class="docs_content_group" id="12">
        <h3>Fugacity Coefficient</h3>
        <p>
            As mentioned before, the main parameter in Phi-Phi model for VLE calculations is the Fugacity Coefficient. After calculating the Z factor 
            and evaluating the required parameters related to the compessibility factor, fugacity coefficient can be evaluated with ease. For a deeper 
            understanding of the calculation methods used for fugacity coefficient you can check this <a href="https://www.e-education.psu.edu/png520/m16_p6.html">link</a>.
        </p>
    </div>

    <div class="docs_content_group" id="11">
        <h3>Required Properties</h3>
        <p>
            PEC has the advantage of using such models that require just a few parameters and properties and the main job is done through iteration and 
            models that are precisely developed for such calculations. The only parameters required for such calculations are <strong>Critical Temperature</strong>, 
            <strong>Critical Pressure</strong>, <strong>Acentric Coefficient</strong>, and <strong>EoS Parameters</strong>.
        </p>
    </div>

    <div class="docs_content_group" id="14">
        <h3>References</h3>
        <ul>
            <li><a href="https://www.e-education.psu.edu/png520/m17_p4.html">Solution Algorithms for VLE Problems</a></li>
            <li><a href="https://www.e-education.psu.edu/png520/m16_p6.html">Cubic EOS Fugacity Expressions</a></li>
            <li><a href="https://cheguide.com/pt_flash.html#:~:text=PT%20Flash%20calculation%20determines%20split,of%20State%20(PR%20EOS).">PT Flash Calculation using PR EOS</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Lee%E2%80%93Kesler_method#:~:text=The%20Lee%E2%80%93Kesler%20method%20allows,acentric%20factor%20%CF%89%20are%20known.">Lee - Kesler method</a></li>
            <li>Intoduction to Chemical Engineering Thermodynamics</li>
        </ul>
    </div>

</div>

{% endblock content %}