{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="home_header">
        <div class="home_header_hub">
            <h4>Links</h4>
            <div class="home_header_link">
                <a href="{% url "vle" %}"> <i class='bx bx-calculator'></i> Vapor Liquid Equilibrium Calculator </a>
            </div>
            <div class="home_header_link">
                <a class="home_header_link" href="{% url "pxy" %}"> <i class='bx bx-line-chart'></i> P-x-y Phase Diagram </a>
            </div>
            <div class="home_header_link">
                <a class="home_header_link" href="{% url "pt" %}"> <i class='bx bx-line-chart'></i> P-T Phase Diagram </a>
            </div>
            <div class="home_header_link">
                <a class="home_header_link" href="{% url "api" %}"> <i class='bx bx-code-curly'></i> Application Programming Interface </a>
            </div>
            <div class="home_header_link">
                <a class="home_header_link" href="{% url "docs" %}"> <i class='bx bxs-file'></i> Documentations </a>
            </div>
        </div>
        <div class="home_header_text">
            <h2>Phase Equilibrium Calculator</h2>
            <p>
                The Phase Equilibrium Calculator (PEC) is an advanced web-based tool designed for determining phase equilibrium of 
                multi-component mixtures. PEC boasts a user-friendly Graphical User Interface (GUI) that simplifies the process for 
                users, while also providing an Application Programming Interface (API) ideal for developers and researchers. 
            </p>
            <p>
                PEC is an open-source framework, and we welcome interested engineers, developers, and programmers to collaborate 
                with us to augment and expand the current functionalities of the platform. If you have any queries regarding the 
                software or have suggestions to offer, kindly reach out to us without any hesitation.
            </p>
        </div>
    </div>

    <div class="home_xlinks">
        <h3>Getting Started & Useful Resources</h3>
        <div class="home_xlinks_hub">
            <div class="home_xlinks_hub_group">
                <p>Programming</p>
                <ul>
                    <li><a href="#11">Python</a></li>
                    <li><a href="#12">Libraries & Packages</a></li>
                    <li><a href="#13">Backend</a></li>
                    <li><a href="#14">Frontend & Design</a></li>
                    <li><a href="#15">API Develpoment Packages</a></li>
                </ul>
            </div>
            <div class="home_xlinks_hub_group">
                <p>Thermodynamic References</p>
                <ul>
                    <li><a href="#21">Introduction to Chemical Engineering Thermodynamics</a></li>
                    <li><a href="#22">The Properties of Gases & Liquids</a></li>
                    <li><a href="#23">Phase Equilibria in Chemical Engineering</a></li>
                    <li><a href="#24">PennState University, College of Earth & Mineral Siences</a></li>
                </ul>
            </div>
            <div class="home_xlinks_hub_group">
                <p>Websites & Channels</p>
                <ul>
                    <li><a href="#31">Learn Python</a></li>
                    <li><a href="#32">Learn Frontend & Backend Development</a></li>
                    <li><a href="#33">Q&A Forums</a></li>
                    <li><a href="#34">My Videos!</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="home_content">
        <div class="home_content_group">
            <h3>Programming</h3>
            <div class="home_content_item">
                <h4 id="11">Python</h4>
                <p>
                    Python serves as the foundation for this project, providing a powerful and versatile platform for executing complex 
                    calculations and numerical methods. Its simple and easy-to-learn syntax and extensive collection of open-source packages are utilized 
                    for all calculations and numerical methods within this software tool.
                </p>
                <p>
                    To ensure that you have the latest version of Python installed, we recommend checking this 
                    <a href="https://www.python.org/downloads/" target="_blank">link</a> for updates. During installation, 
                    be sure to enable the "Add to the path" option to ensure seamless integration with your existing system environment.
                </p>
            </div>
            <div class="home_content_item">
                <h4 id="12">Libraries & Packages</h4>
                <p>
                    The following packages and libraries are used extensively in this project:
                </p>
                <ul>
                    <li>NumPy: For handling arrays and matrixes which increases the efficiency and reduces calculation 
                        time by a considerable amount. It is also used for root finding and interpolations. Learn more 
                        about numpy in <a href="https://numpy.org/">here</a>.
                    </li>
                    <li>Pandas: To creat DataFrames and work with data with much more ease. See more details in <a href="https://pandas.pydata.org/">here</a>.</li>
                    <li>Matplotlib: Visualization of the results. See documentation in <a href="https://matplotlib.org/">here</a>.</li>
                </ul>
                <p>
                    Other tools like SciPy, Seaborn, PyPlot, and ... were used for initial development but are not 
                    included in the final result.
                </p>
            </div>
            <div class="home_content_item">
                <h4 id="13">Backend</h4>
                <p>
                    The backend segment of this tool is where all data preparation and calculations occur. There are numerous programming 
                    languages and associated tools within backend development, such as PHP, Flask, NodeJS, and others. However, we implement 
                    the widely used Django framework for our back-end architecture.
                </p>
                <p>
                    The Django framework offers an uncomplicated and user-friendly development environment for our backend functionalities. 
                    For more detailed information on Django, we recommend visiting their <a href="https://www.djangoproject.com/">website</a> 
                    to explore the full range of features and benefits that the framework offers.
                </P>
            </div>
            <div class="home_content_item">
                <h4 id="14">Frontend & Design</h4>
                <p>
                    The frontend, also known as the user interface (UI), provides users with the means to interact with the website and receive 
                    the anticipated outputs. The webpages for this project are constructed and styled using vanilla HTML, CSS, and JavaScript.
                </p>
                <p>
                    Alternatively, developers may opt to integrate external packages and frameworks such as Angular and React to enhance the 
                    functionality and user experience of the frontend. These popular and efficient tools offer a range of benefits, including 
                    streamlined workflow, advanced features, and responsive design.
                </p>
            </div>
            <div class="home_content_item">
                <h4 id="15">API Development Packages</h4>
                <p>
                    In addition to the UI of the website, developers and other users may interact with PEC through APIs 
                    (Application Programming Interfaces). APIs enable external software or websites to send requests to PEC 
                    and receive the outputs in JSON format. This facilitates the use of phase equilibrium calculations without the need 
                    to create the algorithms or design the application from scratch.
                </p>
                <p>
                    Using APIs, developers can integrate PEC with their own applications or software, providing enhanced functionality and optimizing 
                    workflow. This allows for more efficient and effective utilization of phase equilibrium calculations in various industries and applications.
                </p>
                <p>
                    More details about PEC API can be found in this <a href="{% url "api" %}">section</a>.
                </p> 
            </div>
        </div>

        <div class="home_content_group">
            <h3>Thermodynamic References</h3>
            <div class="home_content_item">
                <h4 id="21">Intoduction to Chemical Engineering Thermodynamics</h4>
                <p>
                    The textbook "Introduction to Chemical Engineering Thermodynamics" by Smith, Van Ness, and Abbott serves as the primary reference 
                    for Thermodynamics I and Thermodynamics II courses in the Chemical Engineering Department of Sharif University of Technology. 
                    This comprehensive and accessible book is designed to help engineers become familiar with the fundamental concepts of thermodynamics.
                </p>
                <p>
                    By mastering the core concepts presented in this textbook, students can then move on to more detailed and specialized resources to apply 
                    thermodynamics to specific use cases. The book provides a strong foundation for chemical engineers to understand the physical behavior 
                    of materials and chemical processes, and to apply thermodynamics to real-world engineering problems.
                </p>
            </div>
            <div class="home_content_item">
                <h4 id="22">The Properties of Gases & Liquids</h4>
                <p>
                    A detailed note of the different approaches to estimate gases and liquid's properties and behavior.
                </p>
            </div>
            <div class="home_content_item">
                <h4 id="23">Phase Equilibria in Chemical Engineering</h4>
                <p>
                    Focuses mainly on phase equilibrium and different techniques such as equations of satate (EoS) and 
                    models such as Gamma-Phi or Phi-Phi models to simulate the phase behavior of pure components alongside 
                    multi-component mixtures.
                </p>
            </div>
            <div class="home_content_item">
                <h4 id="24">PennState University, College of Earth & Mineral Siences</h4>
                <p>
                    A great online source to find out necessary information and equations for VLE calculations. The methods 
                    introduced in this document are easy-to-implement and can be used in personal projects.
                </p>
                <p>
                    You can access this document from <a href="https://www.e-education.psu.edu/png520/" target="blank">here</a>.
                </p>
            </div>
        </div>

        <div class="home_content_group">
            <h3>Websites & Channels</h3>
            <div class="home_content_item">
                <h4 id="31">Learn Python</h4>
                <p>
                    The world of Python is a vast and fascinating landscape that welcomes enthusiasts and professionals from all walks of life. 
                    Fortunately, there are abundant resources available to help you embark on your journey and master this powerful programming language. 
                    Whether you are a beginner or an experienced programmer, you can find a learning path that works best for you. To start, these are a 
                    few useful resources that I recommend:
                </p>
                <Ul>
                    <li>
                        <a href="https://youtu.be/_uQrJ0TkZlc?si=e-G7CkSozmvnFIb8" target="blank">Python Tutorial-Python Full Course for Beginners | Programming with Mosh</a>
                    </li>
                    <li>
                        <a href="https://www.coursera.org/specializations/python" target="blank">Coursera - University of Michigan | Python for Everybody Specialization</a>
                    </li>
                    <li>
                        <a href="https://openbookproject.net/thinkcs/python/english3e/" target="blank">How to Think Like a Computer Scientist</a>
                    </li>
                </Ul>
            </div>
            <div class="home_content_item">
                <h4 id="32">Learn Frontend & Backend Development</h4>
                <p>
                    Making your work accessible to a wider audience can be an excellent way to showcase your skills and drive growth in your field. However, 
                    traditional software development can be complex and time-consuming, requiring knowledge across multiple languages and frameworks. 
                </p>
                <p>
                    The good news is, there are web-based applications available that allow you to publish your projects with ease. Utilizing web-based 
                    applications hosted on servers can be a great way to get started without the burden of becoming a full-fledged software developer. 
                </p>
                <p>
                    To achieve this goal, mastering the skills of Full-Stack Development can be immensely helpful. By combining both frontend and backend 
                    development, you can create beautiful and efficient web applications that provide a seamless experience for users. In case that you are 
                    interested, here are some awsume courses to start with:
                </p>
                <Ul>
                    <li>
                        <a href="https://youtu.be/zJSY8tbf_ys?si=_HR_nTMC8dsHUdzb" target="blank">Frontend Web Development Bootcamp Course (JavaScript, HTML, CSS) | freecodecamp.org</a>
                    </li>
                    <li>
                        <a href="https://youtu.be/F5mRW0jo-U4?si=De_mjKupFenwy6A7" target="blank">Python Django Web Framework - Full Course for Beginners | freecodecamp.org</a>
                    </li>
                    <li>
                        <a href="https://youtu.be/3YW65K6LcIA?si=vRZuMU7wR0MqJPdH" target="blank">Flexbox Crash Course 2022 | Traversy Media</a>
                    </li>
                </Ul>
            </div>
            <div class="home_content_item">
                <h4 id="33">Q&A Forums</h4>
                <p>
                    Did you know that 99% of your programming questions have been answered before? So you are one search away from  
                    your answers. Search your question in a search engine and make sure to check the results from these websites:
                </p>
                <Ul>
                    <li>
                        <a href="https://stackoverflow.com/" target="blank">Stack Overflow</a>
                    </li>
                    <li>
                        <a href="https://www.geeksforgeeks.org/" target="blank">Geeks for Geeks</a>
                    </li>
                    <li>
                        <a href="https://www.w3schools.com/" target="blank">W3 Schools</a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/" target="blank">Reddit</a> 
                    </li>
                </Ul>
            </div>
            <div class="home_content_item">
                <h4 id="34">My Videos!</h4>
                <p>
                    I will put the link of my videos here as soon as they are ready and uploaded!
                </p>
            </div>
        </div>
    </div>

{% endblock content %}