{% extends "base.html" %}
{% load static %}
{% block external_css_js %}

<script src="{% static "multiselect-dropdown.js" %}"></script>

{% endblock external_css_js %}

{% block content %}

    <div class="vle_header">
        <h2>P-x-y Phase Diagram</h2>
        <p>
            P-x-y Phase Diagram is built upon the existing modules in the webframe work and is an example of how
            this modules can be implemented for possible use cases. This tool allows users to get P-x-y graphs for 
            binary mixtures.
        </p>
    </div>

    <form action="" method="post">
        <div class="vle_form">
            <div class="vle_left">
                <div class="components">
                    {% csrf_token %}
                    {{ component_form }}
                </div>

                <div class="eos_model">
                    {% csrf_token %}
                    {{ eos_form }}
                </div>

                <input type="submit" value="Submit" class="submit_button">

            </div>

            <div class="vle_right">
                <div class="units">
                    {% csrf_token %}
                    {{ temp_form }}
                </div>

                <div class="values">
                    {% csrf_token %}
                    {{ node_form }}
                </div>
            </div>
        </div>

    </form>

    {% if result_status == 1 %}
        <div class="vle_results">
            <img src="data:image/png;base64,{{ fig }}" alt="Phase Diagram" class="pxy_diagram_figure" width="100">
        </div>
    {% endif %}

    {% if result_status == 2 %}
        <div class="vle_results">
            <p>{{ message }}</p>
        </div>
    {% endif %}

{% endblock content %}