{% extends "base.html" %}
{% load static %}
{% block external_css_js %}

<script src="{% static "multiselect-dropdown.js" %}"></script>

{% endblock external_css_js %}

{% block content %}

    <div class="vle_header">
        <h2>Vapor Liquid Equilibrium Calculator</h2>
        <p>
            VLE calculations can be a complicated and time-consuming process. In fact, attempting to do them by hand is not only laborious 
            but can also lead to errors. This is why leveraging the computational power and speed of computers can be a game-changer. 
            PEC is a program that handles VLE calculations and uses mathematical models to predict various thermodynamic properties and 
            parameters with minimal data required. By doing so, it greatly reduces the time and effort required to complete iterations manually. 
        </p>
        <p>
            However, it's important to note that the results from PEC are only as good as the data entered. Furthermore, it's vital to 
            understand that the results generated are not validated via any experimental data or external database. As a result, it's 
            essential to confirm that your chosen system is correctly defined for the given conditions. 
        </p>
    </div>

    <form action="" method="post">
        <div class="vle_form">
            <div class="vle_left">
                <div class="components">
                    {% csrf_token %}
                    {{ component_form }}
                </div>

                <div class="composition">
                    <p>-Enter the mole fractions in the same order as the component list above.</p>
                    <p>-Seperate the mole fractions by <strong>ONE SPACE</strong>.</p>
                    <p>-Example: <strong>0.3 0.5 0.2</strong></p>
                    <br>   
                    {% csrf_token %}
                    {{ composition_form }}
                </div>

                <div class="eos_model">
                    {% csrf_token %}
                    {{ eos_form }}
                </div>

                <input type="submit" value="Submit" class="submit_button">

            </div>

            <div class="vle_right">
                <div class="units">
                    {% csrf_token %}
                    {{ unit_form }}
                </div>

                <div class="values">
                    {% csrf_token %}
                    {{ value_form }}
                </div>
            </div>
        </div>

    </form>

    {% if result_status == 1 %}
        <div class="vle_results">
            <h2>Results:</h2>
            <div class="vle_result_up">
                <div class="vle_messages">
                    <h3>Log:</h3>
                    <p>- {{ Message }} </p>
                    <p>- {{ message_bubl }} </p>
                    <p>- {{ message_dew }} </p>
                    <p>- {{ message_initiate }} </p>
                </div>
            </div>

            <div class="vle_result_down">
                <div class="vle_input_report">
                    <h3>Input Summary:</h3>
                    <p> <strong>Components:</strong>   {{ components }} </p>
                    <p> <strong>Mixture Composition:</strong>   {{ composition }} </p>
                    <p> <strong>Temperature:</strong>   {{ T_value }} {{ T_unit }} </p>
                    <p> <strong>Pressure:</strong>   {{ P_value }} {{ P_unit }} </p>
                    <p> <strong>EoS Model:</strong>   {{ eos_model }} </p>
                </div>
    
                <div class="vle_result_report">
                    <h3>Output Report:</h3>
                    <p> <strong>V:</strong>   {{ V }} </p>
                    <p> <strong>Liquid Phase Composition (x):</strong>   {{ x }} </p>
                    <p> <strong>Vapor Phase Composition (y):</strong>   {{ y }} </p>
                    <p> <strong>Bubble Pressure:</strong>   {{ P_bubl }} bar</p>
                    <p> <strong>Dew Pressure:</strong>   {{ P_dew }} bar</p>
                </div>
            </div>
        </div>
    {% endif %}

    {% if result_status == 2 %}
        <div class="vle_results">
            <p> {{ Message }} </p>
        </div>
    {% endif %}

{% endblock content %}